.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
}